GMAIL_USER=carlabarastean@gmail.com
GMAIL_APP_PASSWORD=your_16_character_google_app_password
FEEDBACK_REQUEST_TO=carlabarastean@gmail.com
FEEDBACK_APPROVAL_SECRET=replace_with_at_least_32_random_characters
